[package]
name = "mqtt-format"
version = "0.5.0"
edition = "2021"
description = "A pure Rust MQTT packet parser and serializer"
readme = "README.md"
repository = "https://github.com/TheNeikos/cloudmqtt"
license = "MPL-2.0"
keywords = ["mqtt", "cloud"]
categories = ["embedded", "parsing"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
yoke = ["dep:yoke"]

[dependencies]
futures = "0.3.26"
nom = "7.1.3"
nom-supreme = "0.8.0"
thiserror = "1.0.39"
yoke = { version = "0.7.0", features = ["derive"], optional = true }

[dev-dependencies]
pretty_assertions = "1.3.0"
tokio = { version = "1.25.0", features = ["test-util", "macros"] }
