[package]
name = "mqtt-format"
version = "0.5.0"
edition = "2021"
description = "A pure Rust MQTT packet parser and serializer"
readme = "README.md"
repository = "https://github.com/TheNeikos/cloudmqtt"
license = "MPL-2.0"
keywords = ["mqtt", "cloud"]
categories = ["embedded", "parsing"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["mqttv5"]
yoke = ["dep:yoke"]
debug = ["winnow/debug"]
mqttv3 = ["dep:futures", "dep:nom", "dep:nom-supreme"]
mqttv5 = ["dep:winnow"]

[dependencies]
futures = { version = "0.3.28", optional = true }
nom = { version = "7.1.3", optional = true }
nom-supreme = { version = "0.8.0", optional = true }
num_enum = "0.7.2"
thiserror = "1.0.40"
winnow = { version = "0.6.5", optional = true }
yoke = { version = "0.7.0", features = ["derive"], optional = true }

[dev-dependencies]
pretty_assertions = "1.3.0"
tokio = { version = "1.27.0", features = ["test-util", "macros"] }
