testcase {
    start_broker "b1"
    create_client "c1"
    connect_to_broker "c1" "b1"
    publish "c1" "payload" "some/topic"
    assert {
        wait_for_publish_on_broker "b1" "c1" "payload" "some/topic"
    }
}
